@using Microsoft.AspNet.Identity
@if (Geral.Logado)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sair", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
