<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SaucierWeb-20151027020502.mdf;Initial Catalog=aspnet-SaucierWeb-20151027020502;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SDBConnectionString" connectionString="Data Source=192.95.14.26;Initial Catalog=SaucierDB;Persist Security Info=True;User ID=dsDB;Password=!Ontem3ufizc@feh@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>